<html>
  <head></head>
  <body>
    <p>
      <%= last_guess %>
    </p>
    <p>
      <%= secret_number_message %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>